-i https://pypi.org/simple
chevron==0.13.1
pendulum==2.0.3
python-dateutil==2.7.3
pytzdata==2018.5; python_version != '3.3.*' and python_version >= '2.7' and python_version != '3.2.*' and python_version != '3.0.*' and python_version != '3.1.*'
six==1.11.0
